local   all             all                                     trust
host    all             all             0.0.0.0/0               scram-sha-256
host    replication     __POSTGRES_USER__  0.0.0.0/0            scram-sha-256
